@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

*
{
padding: 0;
margin: 0;
}

a
{
    all: unset;
}

header
{
    background-color: white;
    height: 5em;
    box-shadow: 0 0 1px #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
}

header >a, header >a img
{
    height: 100%;
}

header >a img
{
 cursor: pointer;
}

 /*search*/

 .search-bar
 {
   position: relative;
   width: 30vw;
   user-select: none;
 }

 .search-bar input
 {
    all:unset;
    box-shadow: 0 0 1px #111;
    width: 100%;
    border-radius: 5px;
    height: 30px;
    padding: 0 5px;
 }

 .search-bar button
 {
     all:unset;
     position: absolute;
     right: 2px;
     top: 6px;
     color: #555;
     cursor: pointer;
 }
  .search-bar button:hover
  {
   color: var(--green);
  } 

  .notifs
  {
    all:unset;
    border-radius: 50%;
    box-shadow: 0 0 1px #111;
    width: 2.5em;
    text-align: center;
    aspect-ratio: 1;
    cursor: pointer;
  }

  .notifs:hover
  {
    background-color: var(--lightgreen);
    box-shadow: none;
    color: white;
    transition: 100ms;
  }


  

  /* nav */

  nav
  {
    background-color: white;
    font-size: 1.3rem;
    flex : 1 1 17%;
    height: 100vh;
    text-align: left;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    position: relative;
  }

  nav >*
  {
    cursor: pointer;
    padding: 0.5em 0.5em;
  }

  nav >*:hover
  {
    box-shadow: 0 0 1px #111;
    color: var(--lightgreen);
    border-radius: 0 10px 10px 0;
  }

  nav .myprofile
  {
    all: unset;  
    margin: 0 0.5em;  
    user-select: none;
    background-color: #f7f7f7;
    cursor: pointer;
    height: 3rem;
    border-radius: 10px;
    padding: 0.5em;
    box-shadow: 0 0 1px #111;
    vertical-align: middle;
    display: flex;
    align-items: center;
    gap: 1em;
  }

  nav .myprofile:hover
  {
    background-color: white;
    transform: scale(1.07);
    transition: 100ms;
  }

  nav .myprofile img
  {
        height: 90%;
        aspect-ratio: 1;
        border-radius: 50%;
  }

  nav [selected]
  {
    color: var(--green);
  }
  
  nav [selected]:hover
  {
    color: var(--green);
    box-shadow: none;
  }
  nav [selected]::before
  {
    content: "";
    display: block;
    height: 1.2em;
    width: 0.2em;
    background-color: var(--green);
    border-radius: 0 30% 30% 0;

    position: absolute;
    left: 0;
  }


  .signout
  {
    all:unset;
    border-radius: 2px;
    padding: 0.5em;
    cursor: pointer;
    position: absolute;
    width: 90%;
    bottom: 7em;
    left: 0;
  }

  .signout:hover
  {
    background-color: var(--lightgreen);
    color: white;
    transform: scale(1.05) translate(0.2em);
    transition: 100ms;
  }

  /* feed */

  #feed
  {
  flex :0 1 50%;
  height: calc(100vh - 5em);
  overflow-y: scroll;
  overflow-x: hidden;
  }

  .f-element,.make
  {
     margin-top: 1em;
     background-color: white;
     border-radius: 1em;
     padding: 1em 1em;
  }
  
  .make h3, #discover h3, #convs h3,#dms h3
  {
     padding: 0 0 1em 1em;
     position: relative;
  }

  .make h3::after, #discover h3::after, #convs h3::after,#dms h3::after 
  {
     content: "";
     height: 1px;
     width: calc(100% + 2em);
     background-color: #f0f0f0;
     position: absolute;
     bottom: 0.3em;
     left: -1em;
  }

  .f-header, .m-text, #discover .person, #dms .person
{
    padding: 0.2em 0.3em;
    display: flex;
    justify-content: space-between;
    user-select: none;
}

.f-header :hover, #discover .person :hover, #dms .person :hover
{
    color: var(--green);
}


.f-header img, .m-text img, #discover .person img, #convs .person img, #dms .person img
{
    height: 2.3em;
    border-radius: 50%;
    vertical-align: middle;
    aspect-ratio: 1;
}


.f-header :hover img, #discover .person :hover img, #dms .person :hover img
{
    opacity: 50%;
}

.f-header > *, #discover .person > *, #convs .person > *, #dms .person > *
{
    cursor: pointer;
}

.f-header > *
{
  text-shadow: 1px 0 0 currentColor;
}

.f-header > button
{
    all: unset;
    cursor: pointer;
    font-size: 1.2rem;
    margin-right: 0.3em;
}


.f-text
{
    padding: 1em 0;
    line-height: 1.5em;
}

.f-element > img, .make > img
  {   
    border-radius: 3%;
    width: 100%;
    margin-bottom: 1em;
  } 

.f-element .comments >:first-child
{
  max-height: 40vh;
  overflow-y: scroll;
}


.f-element .comments form
{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 0.5em;
}

.comment-holder
{
    display: flex;
    gap: 0.2em;
    margin-top: 0.5em;
}

.comments .comment
{
     background-color: #f7f7f7;
     border-radius: 1em;
     padding: 0.5em 1em;
     width: fit-content;
}

.comments .comment .sender
{
      text-shadow: 1px 0 0 currentColor;
}

.comments img
{
    height: 2.3em;
    border-radius: 50%;
    aspect-ratio: 1;
}

.f-element .comments form input[type=text]
{
  all: unset;
  width: 88%;
  padding: 5px 0 5px 5px;
  background-color: #eee;
  
  border-radius: 10px;
}

.f-element .comments form input[type=submit]
{
  all: unset;
  cursor: pointer;
  width: 10%;
  background-color: var(--green);
  text-align: center;
  border-radius: 10px;
}


/* interactions */

.inter
{
    display: flex;
    justify-content: space-around;
    gap:2%;
}

.inter button[data-done]
{
    color: var(--green);
    user-select: none;
    cursor: pointer;
    height: fit-content;
}

.inter :hover
{
   color: var(--green);
}

.inter >:active
{
   transform: scale(1.3)
}



.inter > *,.inter input[type = submit]
{
    all: unset;
    padding: 2px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.inter input[type = submit]
{
    color:inherit;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Image';
  display: inline-block;
  outline: none;
  white-space: nowrap;
  user-select: none;
}
.custom-file-input:hover {
  color: transparent;
}
.custom-file-input:hover::before {
  color: var(--green);
}
.custom-file-input:active {
  color:transparent
}


/* people */

aside
{
  flex : 1 1 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 6em);
  position: relative;
}


#discover , #dms
{
  height: fit-content;
  margin-top: 1em;
  background-color: white;
  border-radius: 1em;
  padding: 1em 1em;
}


#discover .person button
{
  all:unset;
  cursor: pointer;
}

#discover .person i 
{
  color: var(--green);
}

#discover > button
{
  all: unset;
  width: 100%;
  height: 2em;
  margin-top: 1em;
  cursor: pointer;
  text-align: center;
  border-radius: 2px;
  box-shadow: 0 0 1px #111;
}

#discover > button:hover
{
    transform: scale(1.05);
    background-color: var(--green);
    color: white;
    transition: 200ms;
}

/* dms  */

.mess .cont
{
    height: 25vh;
    margin-top: 5px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}

.sent ,.rec
{
    max-width: 70%;
    border-radius: 20px;
    margin-top: 8px;
    text-align: left;
    padding: 2px 10px;
    overflow-wrap: break-word;
}

.sent
{
    background-color: var(--green);
    margin-left: auto;
    margin-right:2px;
}

.rec
{
    background-color: #f0f0f0;
    margin-left: 2px;
    margin-right: auto;
}


.mess .text
{
    text-align: left;
    padding: 5px 0 5px 5px;
    background-color: #eee;
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    max-height: 4vh;
    overflow-y: scroll;
}

.mess > i
{
    display: block;
    text-align: right;
    position: absolute;
    bottom: 1.5em;
    right: 1em;
    color:var(--green);
    cursor: pointer;
}





/* convs */

#convs
{
  flex : 1 1 15%;
  height: 100vh;
  background-color: white;
  padding: 1em 1em;
}

#convs .person
{
  cursor: pointer;
  padding: 0.5em 0.5em;
  width: 100%;
  position: relative;
}
#convs .person[online]::after
{
   content: "";
   display: block;
   background-color: var(--green);
   border-radius: 50%;
   height: 0.5em;
   width: 0.5em;
   position: absolute;
   bottom: 0.4em;
   left: 2.3em;
}

#convs .person:hover
{
  transform: translateX(-0.8em) scale(1.1);
  box-shadow: 0 0 1px #111;
  background-color: white;
  border-radius: 10px 0 0 10px;
}

/* profile */

.profile
{
    padding: 10px 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    user-select: none;
    font-size: 2rem;
    text-align: center;

    background-color: white;
    border-radius: 1em;
}
.profile img
{
    border-radius: 50%;
    vertical-align: middle;
    width: 15vw;
}

.profile .picture
{
    text-align: left;
}


.profile-announce
{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 30vh;
   font-size:2rem
}

.profile a
{
  cursor: pointer;
}

.profile a:hover
{
  color: var(--lightgreen);
}


/* search */


#people
{
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-bottom: 2em;
  justify-content: center;  
}

#people .person
{
  background-color: white;
  border-radius: 1em;
  padding: 1em 1em;
  cursor: pointer;
}

#people .person:hover
{
  transform: scale(1.1);
  background-color: #d7d7d7;
  transition: 200ms;
}

#people .person a
{
  display: flex;
  flex-direction: column;
  gap:1em;
  align-items: center;
}

#people .person img
{
  height: 10em;
  width: 10em;
  border-radius: 1em;
  flex-direction: column;
}









  /* old  */
body
{
    background-color: #f7f7f7;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    overflow: hidden;
}

:root {
    --main : rgb(30, 172, 101);/*#ff7b00;*/
    --green : #0e9;
    --lightgreen : #0fa;
    --online: rgb(0, 255, 0);
  }





#content
{
   margin-top: 1px;
   display:flex;
   flex-wrap:nowrap; 
   width: 100%;
   gap: 2em;
}


#textarea
{
    width: 98%;
    margin: 1%;
    border-radius: 5px;
    border: none;
    resize: none;
}    

[contenteditable]:focus
{
    outline: 0;
}



#contacts img
{
    width: 60px;
}

.person i
{
    margin: 5px;
    color: var(--main);
}

[contenteditable][placeholder]:empty:before {
    content: attr(placeholder);
    color: #555;
    cursor:text;
}

.dm-bar
{
    display: flex; 
    overflow-y : hidden;
    gap: 15px;
    cursor: pointer;
    margin: 10px;
    height: 75px;
    padding: 1px;
}


.contact
 {
     background-image: url("images/Account.webp");
     color: #ffffff00;
     line-height: 60px;
     position: relative;
     flex-shrink: 0;
     width: 60px;
     height: 60px;
     border-radius: 60px;
     background-repeat: no-repeat;
     background-size: contain;
     border: 1px solid var(--main);

     transition: 100ms;
 }
 
.contact[online]::after 
{
content: "";
height: 12px;
width: 12px;
border-radius: 10px;
background-color: var(--online);
position: absolute;
top: 40px;
right: -2px;
} 

#dms .selected
{
    outline: var(--green) solid 2px;
    outline-offset: -2px;
    transform: scale(1.02);
} 

.contact:hover
{
    transform: scale(1.03);
}





/* width */
::-webkit-scrollbar {
    width: 0;
    height: 8px;
  }
  
/* Track */
::-webkit-scrollbar-track {
    background: #0000;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--green);
  }



  /* messages */

   #contacts
   {
       height: 90vh;
   }

  #messages
  {
    flex : 1 1 80%;
    margin : 2px 0;
    border-radius: 10px;
    background: white;
    padding-top: 2px;
    text-align: center;
    margin: 2px 1vw;
    outline: 1px dotted var(--main);
  }


  #messages .sent ,#messages .rec
  {
      max-width: 47%;
      padding: 5px 10px;
      overflow-wrap: break-word;
  }

  #messages .cont
  {
          height: 81vh;
  }

  #messages i
  {
    right: 20px;
    bottom: 2.2vh;
  }
  #messages .person
  {
    position: relative;
    border-bottom: 1px dotted var(--main);
  }

 


  #contacts .person
  {
    position: relative;
    border-top: 1px dotted var(--main);
  }


  #contacts .person[online]::before,#messages .person[online]::before
  {
    content: "";
    height: 10px;
    width: 10px;
    position: absolute;
    border-radius: 50%;
    background-color: var(--online);
    left: 50px;
    top:50px;
  }
  #contacts .person[online]::after,#messages .person[online]::after
  {
    content: "Active now";
    position: absolute;
    color: rgb(179, 179, 179);
    border-radius: 50%;
    right:5px;
    top: 20px;
  }
  
  #messages .person[online]::after
  {
      top:5px;
  }

  #messages .person[online]::before
  {
    top: 20px;
    left:27px;
  }






  @media (orientation: portrait), (max-width:768px) {
    #discover, #dms, #messages
    {
    display: none;
    }

    #messages
    {
        margin: 0;
        outline: none;
    }
    
    #feed
    {
    flex :0 1 100%;
    border:none;
    }

    
    #contacts
    {
        border: none;
        position: absolute;
        width: 100%;
        z-index: -1;
    }
}



.login-outer-container
{
    inset:0; 
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('images/background.png');
    background-position: center;
}

.login-container
{
    border : 2px solid var(--green);
    background: linear-gradient(to top right,rgb(163, 247, 163) , white);
    text-align: center;
    border-radius: 20px;
    padding: 2em;
}


.login-container > img
{
    width: 50%;
}

.login-container > form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.5em;
}

.login-container legend
{
    font-size: 1.4rem;
}
.login-container input
{
    text-align: center;
    padding: 5px 0 5px 5px;
    background-color: #eee;
    border-radius: 10px;
    width: 100%;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    font-size: 1.2rem;
    border: 1px solid var(--green);
}

.login-container input[type= submit]
{
    width: 50%;
    background-color: var(--main);
    cursor: pointer;
    border: none;
}

.login-container input:focus
{
    outline : var(--main) solid 1px
}





.custom-file-input{
    all: unset;
    width: 5rem;
    height: 1rem;
    padding: 2px;
    cursor: pointer;
}